.gnb-side {
  display: none;
}
.gnb-side .inner {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999999;
}
.gnb-side-show {
  display: block;
}
.gnb-side .gnb-close {
  position: absolute;
  right: 40px;
  top: 25px;
  width: 30px;
  height: 30px;
  background: url("../../images/icon/x-lg.svg") no-repeat center;
  background-size: cover;
  transition: all 0.2s;
}
.gnb-close:hover {
  transform: rotate(180deg);
}

.pic {
  position: relative;
  width: 33.59375vw;
  height: 100%;
  height: 100vh;
  background: url("../../images/gnb_sitemap.png") no-repeat left/cover;
}
.sitemap {
  position: absolute;
  left: 14.9%;
  top: 13rem;
  font-size: 5.2rem;
  font-weight: 700;
  color: #fff;
}
.sitemap::before {
  content: "";
  position: relative;
  top: 6px;
  display: inline-block;
  margin-right: 12px;
  width: 83px;
  height: 40px;
  background: url("../../images/sitemap_logo.png") no-repeat center;
  background-size: cover;
}
.gnb-side .mainmenu {
  padding: 5%;
  padding-top: 4.8%;
  margin-bottom: 8%;
  width: calc(100% - 33.59375vw);

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  gap: 0 0.5rem;
}
.gnb-side .mainmenu > li {
  display: inline-block;
  margin-top: 3rem;
  padding-right: 2rem;
  text-align: left;
  vertical-align: top;
  position: relative;
  width: calc(25% - 1.4rem);
  height: calc(350px + 1.5rem);
}
.gnb-side .mainmenu > li:nth-child(5)::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3rem;
  width: 400%;
  height: 1px;
  background: #cbcbcb;
}
.gnb-side .mainmenu > li > a {
  font-size: 3rem;
  display: block;
  padding-bottom: 1.5rem;
  font-weight: 700;
  color: #333;
  word-break: keep-all;
  line-height: 4.4rem;
}
.gnb-side .mainmenu > li > .submenu li a {
  display: block;
  border-radius: 4rem;
  line-height: 5rem;
  transition: all 0.2s;
  color: #555;
  font-size: 2.2rem;
  font-weight: 500;
}
